<li
  class="bg-lightESB shadow-xl rounded-md border h-full hover:border-primaryESB transition duration-300 ease-in-out"
  *ngIf="isCard === true"
>
  <div class="flex flex-col p-4 justify-between h-full">
    <h3 class="text-darkESB text-base font-semibold">
      {{ topicData?.title }}
    </h3>
    <div class="flex flex-col">
      <p class="text-grayESB text-xs my-2">
        {{ topicData?.score }} points by {{ topicData?.by }} | codeberg.org
      </p>
      <hr />
      <div class="flex flex-row justify-between items-center mt-2 text-xs">
        <p class="text-grayESB">
          <fa-icon [icon]="iconClock" class="mr-1"></fa-icon>
          4 hours ago
        </p>
        <button
          class="bg-secondaryESB py-2 px-4 rounded shadow-md"
          (click)="toggleCommentSection()"
        >
          <span class="text-primaryESB font-semibold">
            <fa-icon [icon]="iconCommentDots" class="mr-1"></fa-icon>
            {{ noOfComment }} Comment
            <fa-icon [icon]="iconArrowRight" class="ml-2"></fa-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</li>

<li
  class="bg-lightESB shadow-xl rounded-md border h-full hover:bg-orange-50 transition duration-300 ease-in-out"
  *ngIf="isCard === false"
>
  <div class="flex flex-rows items-center p-4 justify-between h-full">
    <div>
      <h3 class="text-darkESB text-base font-semibold">
        {{ topicData?.title }}
      </h3>
      <p class="text-grayESB text-xs">
        {{ topicData?.score }} points by {{ topicData?.by }} | codeberg.org |
        <fa-icon [icon]="iconClock" class="mx-1"></fa-icon>
        4 hours ago
      </p>
    </div>
    <div class="flex flex-row justify-between items-center text-xs">
      <button
        class="bg-secondaryESB py-2 px-4 rounded shadow-md"
        (click)="toggleCommentSection()"
      >
        <span class="text-primaryESB font-semibold">
          <fa-icon [icon]="iconCommentDots" class="mr-1"></fa-icon>
          {{ noOfComment }} Comment
          <fa-icon [icon]="iconArrowRight" class="ml-2"></fa-icon>
        </span>
      </button>
    </div>
  </div>
</li>

<div [hidden]="isHidden" class="fixed w-full h-screen inset-0">
  <div class="bg-darkESB/40 h-full w-full flex justify-center items-center">
    <div class="w-2/4 bg-lightESB h-2/3 rounded-md shadow-xl p-6 relative">
      <div class="flex flex-col">
        <div class="relative flex flex-row justify-between">
          <h3 class="text-darkESB text-xl font-semibold">
            {{ topicData?.title }}
          </h3>
          <button
            class="absolute h-fit -top-4 -right-0"
            (click)="toggleCommentSection()"
          >
            <span class="text-xl font-semibold cursor-pointer">
              <fa-icon [icon]="iconX" class="ml-2"></fa-icon>
            </span>
          </button>
        </div>
        <div class="flex flex-row justify-between text-xs items-center my-2">
          <p class="text-grayESB">
            {{ topicData?.score }} points by oblio | {{ topicData?.by }} | time
          </p>
          <span class="text-darkESB font-semibold">
            <fa-icon [icon]="iconCommentDots" class="mr-1"></fa-icon>
            {{ noOfComment }} Comment</span
          >
        </div>
      </div>
      <hr />
      <div class="py-2 overflow-x-auto h-[85%]">
        <app-comments [commentsId]="topicData?.kids"></app-comments>
      </div>
    </div>
  </div>
</div>
